<div class="contenedor">
  <div class="contenedor2">
    <h2>Seleccione 2 jugadores</h2>

    <form id="frmJugadores">

      <div class="select">

        <select  *ngFor="let id of prop" name="jugadores" multiple class="jugadores" formControlName="jugadores">
          <option>
            {{id}}
          </option>
        </select>

      </div>
      <div class="cont-button">
        <button (click)="cerrar()" class="btn-3" form="frmJugadores" type="button" ><span>Confirmar</span></button>
      </div>

    </form>
  </div>
</div>