<app-nav></app-nav>
<div class="contenedor">
  <h2>Jugadores</h2>
  <form id="frmJugadores" [formGroup]="frmJugadores" (ngSubmit)="frmJugadores.valid ? submit() : false">
    <div class="select">
    <select name="jugadores" multiple class="jugadores" formControlName="jugadores">
      <option *ngFor="let jugador of jugadores" [value]="jugador.id">
        {{ jugador.name }}
      </option>
    </select>
  </div>

    <div class="error" *ngIf="frmJugadores.get('jugadores')?.hasError('required')">Para jugar debes seleccionar minimo 2
      jugadores</div>
    <br>
    <div class="cont-button">
      <button form="frmJugadores" type="submit" class="custom-btn btn-3" [disabled]="frmJugadores.invalid"><span>Jugar !</span></button>
    </div>
  </form>
</div>
