<div class="cont-nav">
  <div class="sec1">
  <div class="name">
    <a routerLink="/home" ><img alt="img" src="../../../../../assets/gamerText.png" width="130px" height="70px" ></a> <p>{{nombre}}</p>
  </div>
</div>
<div class="sec2">
 <img alt="img" src="../../../../../assets/title.png" width="200px" height="100px" >
</div>
<div class="sec3">
  <button (click)="botonLogout()" type="button" class="btn"><span>Salir</span></button>
</div>
</div>
<div class="name2">
  <img alt="img" src="../../../../../assets/gamerText.png" width="130px" height="70px" ><p>{{nombre}}</p>
</div>