<app-nav></app-nav>
<div class="container">

  <div class="cont-info">
    <p>Ronda #{{numeroRonda}}</p>
    <p>Jugadores [{{jugadoresRonda}}/{{jugadoresTablero}}]</p>
  </div>

  <div class="cont-estado">
    <p class="tiempo">Tiempo:</p><p>{{tiempo}}s</p>  
    <button  (click)="iniciarRonda()" class="btn">INICIAR</button>
  </div>

  <div class="cont-stick">
      <img alt="cap" src="../../../../../assets/capitan-removebg-preview.png" width="100px" height="60px">
      <p class="ganador">{{ganadorRonda}}</p>
      <p class="perdedor">{{perdedorRonda}}</p>
  </div> 
</div>

<div class="dashboard">
  
  <div class="dashboard-card">
    <p>Partida</p>
    <div class="cards">
      <div *ngFor="let card of cartasDelTablero" class="card">
        <img class="img-card" alt="img" src="../../../../../assets/question.jpg"/>
      </div>
    </div> 
  </div>

  <div class="dashboard-mazo">
    <p>Mazo</p>
    <div class="cards-mazo">
      <div *ngFor="let card of cartasDelJugador" class="card-mazo">
        <button (click)="poner(card.cartaId)" class="btn-poner">PONER</button>
        <img class="img-card" alt="img" src= {{card.url}} />
        <div class="poder"><p>Poder:</p><p class="power">{{card.poder}}</p></div>
      </div>
    </div>
  </div>

</div>