<app-nav></app-nav>
<div class="container">
  <div class="cont-info">
    <p>Ronda #{{numeroRonda}}</p>
    <p>Jugadores [{{jugadoresRonda}}/{{jugadoresTablero}}]</p>
  </div>
  <div class="cont-estado">
    <p>Tiempo: {{tiempo}}s</p>  
    <button  (click)="iniciarRonda()" class="btn">INICIAR</button>
  </div>
  <div class="cont-stick">
      <img alt="cap" src="../../../../../assets/capitan-removebg-preview.png" width="100px" height="60px">
  </div>
</div>
<div class="dashboard">
  <div class="dashboard-card">
    <p>Partida</p>
    <!-- <div class="cards">
      <div class="card">
        card1
      </div>
      <div class="card">
        card2
      </div>
      <div class="card">
        card3
      </div>
      <div class="card">
        card4
      </div>
      <div class="card">
        card5
      </div>
      <div class="card">
        card6
      </div>
    </div> -->
  </div>
  <div class="dashboard-mazo">
    <p>Mazo</p>
    <div class="cards-mazo">
      <div *ngFor="let card of cartasDelJugador" class="card-mazo">
        <button class="btn-poner">PONER</button>
        <h2>Poder {{card.poder}}</h2>
      </div>
    </div>
  </div>
</div>