<app-nav></app-nav>
<!-- <app-modal *ngIf="showModal" [prop]="jugadoresEnLaRonda"></app-modal> -->
<div class="contenedor" *ngIf="showModal">
  <div class="contenedor2">
    <h2>Seleccione 2 jugadores</h2>

    <form id="frmJugadores">

      <div class="select">

        <select   multiple>
          <option *ngFor="let IdJugador of jugadoresEnLaRonda" >
            {{IdJugador.uuid}}
          </option>
        </select>

      </div>
      <div class="cont-button">
        <button (click)="cerrar()" class="btn-3"  type="button" ><span>Confirmar</span></button>
      </div>

    </form>
  </div>
</div>
<div class="container">

  <div class="cont-info">
    <p>Ronda #{{numeroRonda}}</p>
    <p>Jugadores [{{jugadoresRonda}}/{{jugadoresTablero}}]</p>
  </div>

  <div class="cont-estado">
    <p class="tiempo">Tiempo:</p><p>{{tiempo}}s</p>  
    <button  (click)="iniciarRonda()" class="btn">INICIAR</button>
  </div>

  <div class="cont-stick">
      <img alt="cap" src="../../../../../assets/capitan-removebg-preview.png" width="100px" height="60px">
      <p class="ganador">{{ganadorRonda}}</p>
      <p class="perdedor">{{perdedorRonda}}</p>
  </div> 
</div>

<div class="dashboard">
  
  <div class="dashboard-card">
    <p>Partida</p>
    <div class="cards">
      <div *ngFor="let card of cartasDelTablero" class="card">
        <img class="img-card" alt="img" src="../../../../../assets/question.jpg"/>
      </div>
    </div> 
  </div>

  <div class="dashboard-mazo">
    <p>Mazo</p>
    <div class="cards-mazo">
      <div *ngFor="let card of cartasDelJugador" class="card-mazo">
        <button (click)="poner(card.cartaId)" class="btn-poner">PONER</button>
        <img class="img-card" alt="img" src= {{card.url}} />
        <div class="poder"><p>Poder:</p><p class="power">{{card.poder}}</p></div>
      </div>
    </div>
  </div>

</div>