<app-nav></app-nav>
<div class="contenedor">
  <h2>Lista de juegos</h2>
  <div class="cont-titles">
    <h4>Juegos</h4>
    <h4>Cantidad jugadores</h4>
  </div>
  <h1>{{mensaje}}</h1>
  <div *ngFor="let juego of juegos; let i = index" class="contenedor-juegos">
    <div class="cont-juego">
      <div class="cont1">
        <img alt="cap" src="../../../../../assets/control.png" width="75px" height="40px">
        <h5>Juego {{i + 1}}</h5>
      </div>
      <div class="cont2">
        <a><button (click)="iniciarJuego(juego.id)" class="btn">ENTRAR</button></a>
        <p> {{juego.cantidadJugadores}} </p>
      </div>
    </div>
    <br>
  </div>
</div>