.contenedor {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .contenedor {
        max-width: 80%;
    }
}
.cont-titles {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto
}
.contenedor-juegos{
    display:flex;
    flex-direction: column;
    gap: 1em;
    font-weight: bold;
    box-sizing: border-box;
}

.cont-juego {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 60px;
    -webkit-box-shadow: 0px 1px 4px 2px #868686;
    box-shadow: 0px 1px 4px 2px #353535;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
}
.cont-juego img{
    position: relative;
    top: 7px;
    opacity: 0.6;
}
.cont-juego h5{
    position: relative;
}
.btn {
    height: 25px;
    position: relative;
    top: 18px;
    Width: 80px;
    cursor: pointer;
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
@media only screen and (max-width: 1150px) {
    .btn{
        left: -50%;
    }
}
.btn:hover {
    background: linear-gradient(0deg, rgb(0, 118, 164) 0%, rgba(2, 126, 251, 1) 100%);
}
@media only screen and (max-width: 1150px) {
    .cont-juego .btnIn{
        left: 20%;
    }
    .cont2{
        gap: 0em;
    }
}
.cont1{
    display: flex;
}
.cont2{
    display: flex;
    gap: 1em;
    position: relative;
    right: 10px;
}
.cont-juego p{
    font-weight: bold;
    margin-top:22px
}
